.nav-flex{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.nav-op{
  padding: 10px 20px;
}
.nav-op:hover{
  color: var(--cor-1);
}
@media (max-width:800px){
  .nav-flex img{
    display: none;
  }
}
@media (max-width:450px){
  .nav-flex{
    flex-direction: column;
    justify-items: center;
    gap: 10px;
  }
}