.s2-bg{
  background-image: url("./Imagens/Geral/Trabalho_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.s2-bg::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(5,19,247,0.9);
  z-index: -1;
}
.solicitacao{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solicitacao-botao{
  box-shadow:0px 5px 4px var(--cor-5);
}
.solicitacao-botao:hover{
  background-color: var(--cor-3);
  box-shadow:0px 2px 20px var(--cor-3,0.1);
  border: 1px solid var(--cor-5);
}
@media (max-width: 800px){
  .sobre-servicos{
    font-size: 1.5rem;
  }
}